<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
	<br/>
	<h1>Sisley 专属页面</h1>
	<br/>
	<div class="container">	
		
		<form action="broadcast" method="get">
			<h5>发布消息</h5>
			<input type="text" name="broadcast"></input>
			<button class="btn parkBtn">发布</button>
		</form>
		
		<form action="editUser" method="get">
			<button class="btn parkBtn">编辑学生信息</button>
		</form>
		
		<form action="editClasstime" method="get">
			<button class="btn parkBtn">编辑学生课程信息</button>
		</form>
		
		<form action="editTopic" method="get">
			<button class="btn parkBtn">编辑本周课程</button>
		</form>
		<%= form_for :import_csv, :url => {:action => :import}, :html => {:multipart => true} do |f| %>
		  <%= f.file_field :csv %>
		  <%= f.submit '上传学生信息'%>
		<%end%>
		<p>
			下载学生信息
		  <%= link_to "Excel", users_path(format: "xls") %>
		</p>
	</div>
</body>
</html>
